@import "tailwindcss";

:root {
  --background: #121212;
  --foreground: #FFFFFF;
  --primary: #FE4D6A;
  --secondary: #EC4762;
  --icon: #DE425B;
  --link: #A8A8A8;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--primary);
  --color-secondary: var(--secondary);
  --color-icon: var(--icon);
  --color-link: var(--link);
  --font-poppins: var(--font-poppins);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-poppins), sans-serif;
}